<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link href="css/ghf_marked.css" rel="stylesheet" type="text/css">
</head>
<body>
{{ content }}

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("7gcgk-8509l9ywy4");
} catch(err) {}
</script>		
</body>

</html>

